
body {
    background: rgb(94, 167, 111); /* fallback for old browsers */
    background: rgb(94, 167, 111);
    background: linear-gradient(90deg, rgb(94, 167, 111) 0%, rgb(235, 142, 172) 50%);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn {
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    border: none;
    background-color: rgb(58, 126, 74);
    color: rgb(255, 255, 255);
    margin: 5px 0;
    text-decoration: none;
}


.btn:hover {
    background-color: #d5cc55;
    color: black;
    transition-duration: 0.3s;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.search_filters {
    margin-top: 20px;
    width: 89%;
    margin-bottom: 20px;
    justify-content: center;
}

.additional_filters {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.filter_name {
    padding: 0;
    margin: 0;
}

.input_field {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    width: 89%;
    text-align: center;
    table-layout: fixed;
}

.sortable-table {
    width: 89%;
    border: none;
    margin-bottom: 0px;
    font-size: 0.9vw;

}

.sortable-table thead th {
    font-weight: bold;
    text-align: center;
    border: none;
    padding: 10px 15px;
    background: #eeeeee;
    font-size: 14px;
}

.sortable-table thead tr th:first-child {
    border-radius: 8px 0 0 8px;
}

.sortable-table thead tr th:last-child {
    border-radius: 0 8px 8px 0;
}

.sortable-table tbody td {
    text-align: center;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: middle;
}

.sortable-table tbody tr:nth-child(even) {
    background: #f3f3f3;
}

.sortable-table tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
}

.sortable-table tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
}

.btn-warning {
    margin-left: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

.custom-btn-danger {
    text-decoration: none;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(58, 126, 74);
    color: rgb(255, 255, 255);
    margin: 5px 0;
}

.custom-btn-danger:hover {
    background-color: #d5cc55;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.search_field {
    width: 91.25%;
}


.sortable-table th {
    cursor: pointer;
}

.sortable-table th.no-sort {
    pointer-events: none;
}

.sortable-table th::before {
    transition: color 0.2s ease-in-out;
    font-size: 1.2em;
    color: transparent;
}

.sortable-table th:hover::after {
    color: inherit;
}

.sortable-table th.dir-d::after {
    color: inherit;
    content: '\025BE';
}

.sortable-table th.dir-u::after {
    color: inherit;
    content: '\025B4';
}

.modal-footer button {
    margin-right: 10px;
}

.modal-footer button:last-child {
    margin-right: 0;
}
.input-confirm{

    display: flex;
    width: 89%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;

}

.btn-primary{
    height: 40px;

}

.me {
    font-size: 36px; /* Размер шрифта */
    text-align: center; /* Центрирование текста */
    margin-top: 50px; /* Отступ сверху */
    color: aquamarine;
    background-color: black;
    opacity: 0.6;
}

img {
    width: 35%; /* Ширина изображения на 100% */
    height: 35%; /* Высота изображения на 100% */
    object-fit: cover;
    display: flex;
    margin-top: 110px;
}


label {
    display: inline-block;
    min-width: 100px;
}

input {
    padding: 5px;
    font-size: 14px;
}

button {
    padding: 5px 15px;
    font-size: 14px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
a {

    text-decoration:none ;
}
.error-field{

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}
.btn-back{

    font-size: 19px;
    width: 210px;
    height: 70px;

    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    border: none;
    background-color: rgb(58, 126, 74);
    color: rgb(255, 255, 255);
    margin: 5px 0;
    text-decoration: none;
}
