<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Система общежитий</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
<body>
<header>
    <h1>Система общежитий</h1>
    <nav>
        <ul>
            <li>
                <a href="/about">
                    <button type="button" class="custom-btn-danger">О себе</button>
                </a>
            </li>
            <li>
                <a href="/dormitories">
                    <button type="button" class="custom-btn-danger">Общежитие</button>
                </a>
            </li>
            <li>
                <a href="/students">
                    <button type="button" class="custom-btn-danger">Студенты</button>
                </a>
            </li>
            <li>
                <a href="/logout">
                    <button type="button" class="custom-btn-danger">Выйти</button>
                </a>
            </li>
        </ul>
    </nav>
</header>
<div class="me"> Студентка группы ПИ22-2в
    <br>Реализовала учет системы проживающих в общежитии</br>
    <a class="me" href="https://github.com/Drimiss">Тык сюда </a> - это мой гит
</div>
<div class="container"><img src="1.png" alt="котик">
</div>

</body>
</html>