<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>Список студентов</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <script>
        document.addEventListener('click', function (e) {
            try {
                function findElementRecursive(element, tag) {
                    return element.nodeName === tag ? element :
                        findElementRecursive(element.parentNode, tag)
                }

                var descending_th_class = ' dir-d '
                var ascending_th_class = ' dir-u '
                var ascending_table_sort_class = 'asc'
                var regex_dir = / dir-(u|d) /
                var regex_table = /\bsortable\b/
                var alt_sort = e.shiftKey || e.altKey
                var element = findElementRecursive(e.target, 'TH')
                var tr = findElementRecursive(element, 'TR')
                var table = findElementRecursive(tr, 'TABLE')

                function reClassify(element, dir) {
                    element.className = element.className.replace(regex_dir, '') + dir
                }

                function getValue(element) {
                    return (
                        (alt_sort && element.getAttribute('data-sort-alt')) ||
                        element.getAttribute('data-sort') || element.innerText
                    )
                }

                if (regex_table.test(table.className)) {
                    var column_index
                    var nodes = tr.cells
                    for (var i = 0; i < nodes.length; i++) {
                        if (nodes[i] === element) {
                            column_index = element.getAttribute('data-sort-col') || i
                        } else {
                            reClassify(nodes[i], '')
                        }
                    }
                    var dir = descending_th_class
                    if (
                        element.className.indexOf(descending_th_class) !== -1 ||
                        (table.className.indexOf(ascending_table_sort_class) !== -1 &&
                            element.className.indexOf(ascending_th_class) == -1)
                    ) {
                        dir = ascending_th_class
                    }
                    reClassify(element, dir)
                    var org_tbody = table.tBodies[0]
                    var rows = [].slice.call(org_tbody.rows, 0)
                    var reverse = dir === ascending_th_class
                    rows.sort(function (a, b) {
                        var x = getValue((reverse ? a : b).cells[column_index])
                        var y = getValue((reverse ? b : a).cells[column_index])
                        return isNaN(x - y) ? x.localeCompare(y) : x - y
                    })
                    var clone_tbody = org_tbody.cloneNode()
                    while (rows.length) {
                        clone_tbody.appendChild(rows.splice(0, 1)[0])
                    }
                    table.replaceChild(clone_tbody, org_tbody)
                }
            } catch (error) {
            }
        });
    </script>

</head>
<body>
<header>
    <h1>Список студентов</h1>
    <nav>
        <ul>
            <li>
                <a href="/about">
                    <button type="button" class="custom-btn-danger">О себе</button>
                </a>
            </li>
            <li>
                <a href="/dormitories">
                <button type="button" class="custom-btn-danger">Общежитие</button>
                </a>
            </li>
            <li>
                <a href="/logout">
                <button type="button" class="custom-btn-danger">Выйти</button>
                </a>
            </li>
        </ul>
    </nav>



</header>

<div class="container">
    <div class="input-confirm">
        <form action="/students/upload-json" method="post" enctype="multipart/form-data" >
            <input type="file" name="file" accept=".json" class="btn">
            <button type="submit" class="btn btn-primary">Загрузить файл</button>
        </form>
        <form action="/students/place" method="post" style="display: inline;">
            <button type="submit" class="btn btn-danger btn-lg">Заселить всех</button>
        </form>
    </div>
</div>
<div class="container">
    <table class="sortable-table" id="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>ФИО</th>
            <th>Дата рождения</th>
            <th>Пол</th>
            <th>Курс</th>
            <th>Факультет</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.id}">ID</td>
            <td th:text="${student.fullName}">ФИО</td>
            <td th:text="${student.birthDate}">Дата рождения</td>
            <td th:text="${student.gender}">Пол</td>
            <td th:text="${student.course}">Курс</td>
            <td th:text="${student.faculty}">Факультет</td>
            <td>
                <!-- Кнопка "Редактировать" отображается только если студента нет в общежитии -->
                <a th:href="@{'/students/edit_student/' + ${student.id}}">
                    <button type="button" class="btn btn-info">Редактировать</button>
                </a>

                <a th:href="@{'/delete/' + ${student.id}}">
                    <button type="button" class="btn btn-danger">Удалить</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="container">
        <script type="text/javascript">
            function getRowsColumn() {
                let table = document.getElementById("1");
                let tBody = table.querySelector("tbody");
                const count = tBody.querySelectorAll("tr").length;
                document.write("Количество записей в таблице: " + count);
            }

            getRowsColumn();
        </script>
    </div>
</div>


<script type="text/javascript">
    function clearSearch() {
        window.location = "/students";
    }
</script>
</body>
</html>
